/*
Global
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    width: 100%;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color:#363F5A
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    list-style: none;
  }
/* preloader */
.mask-loader {
  width: 100%;
  height: 100%;
  background: #363F5A;
  position: fixed;
  top: 0;
  z-index: 200;
  transition: 0.6s;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
}
.hide {
  opacity: 0;
}
.logo-preloader {
  color: #F5F5F5;
  opacity: 0.4;
  font-size: 3.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 29%;
}
.cssload-dots {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  outline: 1px solid red;
  filter: url(#goo);
    -o-filter: url(#goo);
    -ms-filter: url(#goo);
    -webkit-filter: url(#goo);
    -moz-filter: url(#goo);
}

.cssload-dot {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.cssload-dot:before {
  content: "";
  width: 34px;
  height: 34px;
  border-radius: 49px;
  background: rgb(251,211,1);
  position: absolute;
  left: 50%;
  transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
  margin-left: -17.5px;
  margin-top: -17.5px;
}



.cssload-dot:nth-child(5):before {
  z-index: 100;
  width: 44.5px;
  height: 44.5px;
  margin-left: -21.75px;
  margin-top: -21.75px;
  animation: cssload-dot-colors 4.6s ease infinite;
    -o-animation: cssload-dot-colors 4.6s ease infinite;
    -ms-animation: cssload-dot-colors 4.6s ease infinite;
    -webkit-animation: cssload-dot-colors 4.6s ease infinite;
    -moz-animation: cssload-dot-colors 4.6s ease infinite;
}


.cssload-dot:nth-child(1) {
  animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
    -o-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
    -ms-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
    -webkit-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
    -moz-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
}
.cssload-dot:nth-child(1):before {
  background-color: rgb(255,50,112);
  animation: cssload-dot-move 4.6s 0s ease infinite;
    -o-animation: cssload-dot-move 4.6s 0s ease infinite;
    -ms-animation: cssload-dot-move 4.6s 0s ease infinite;
    -webkit-animation: cssload-dot-move 4.6s 0s ease infinite;
    -moz-animation: cssload-dot-move 4.6s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
  animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
    -o-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
    -ms-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
    -webkit-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
    -moz-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
}
.cssload-dot:nth-child(2):before {
  background-color: rgb(32,139,241);
  animation: cssload-dot-move 4.6s 1.15s ease infinite;
    -o-animation: cssload-dot-move 4.6s 1.15s ease infinite;
    -ms-animation: cssload-dot-move 4.6s 1.15s ease infinite;
    -webkit-animation: cssload-dot-move 4.6s 1.15s ease infinite;
    -moz-animation: cssload-dot-move 4.6s 1.15s ease infinite;
}

.cssload-dot:nth-child(3) {
  animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
    -o-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
    -ms-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
    -webkit-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
    -moz-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
}
.cssload-dot:nth-child(3):before {
  background-color: rgb(175,225,2);
  animation: cssload-dot-move 4.6s 2.3s ease infinite;
    -o-animation: cssload-dot-move 4.6s 2.3s ease infinite;
    -ms-animation: cssload-dot-move 4.6s 2.3s ease infinite;
    -webkit-animation: cssload-dot-move 4.6s 2.3s ease infinite;
    -moz-animation: cssload-dot-move 4.6s 2.3s ease infinite;
}

.cssload-dot:nth-child(4) {
  animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
    -o-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
    -ms-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
    -webkit-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
    -moz-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
}
.cssload-dot:nth-child(4):before {
  background-color: rgb(251,211,1);
  animation: cssload-dot-move 4.6s 3.45s ease infinite;
    -o-animation: cssload-dot-move 4.6s 3.45s ease infinite;
    -ms-animation: cssload-dot-move 4.6s 3.45s ease infinite;
    -webkit-animation: cssload-dot-move 4.6s 3.45s ease infinite;
    -moz-animation: cssload-dot-move 4.6s 3.45s ease infinite;
}

@keyframes cssload-dot-move {
  0% {
    transform: translateY(0);
  }
  18%, 22% {
    transform: translateY(-68px);
  }
  40%, 100% {
    transform: translateY(0);
  }
}

@-o-keyframes cssload-dot-move {
  0% {
    -o-transform: translateY(0);
  }
  18%, 22% {
    -o-transform: translateY(-68px);
  }
  40%, 100% {
    -o-transform: translateY(0);
  }
}

@-ms-keyframes cssload-dot-move {
  0% {
    -ms-transform: translateY(0);
  }
  18%, 22% {
    -ms-transform: translateY(-68px);
  }
  40%, 100% {
    -ms-transform: translateY(0);
  }
}

@-webkit-keyframes cssload-dot-move {
  0% {
    -webkit-transform: translateY(0);
  }
  18%, 22% {
    -webkit-transform: translateY(-68px);
  }
  40%, 100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes cssload-dot-move {
  0% {
    -moz-transform: translateY(0);
  }
  18%, 22% {
    -moz-transform: translateY(-68px);
  }
  40%, 100% {
    -moz-transform: translateY(0);
  }
}

@keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251,211,1);
  }
  25% {
    background-color: rgb(255,50,112);
  }
  50% {
    background-color: rgb(32,139,241);
  }
  75% {
    background-color: rgb(175,225,2);
  }
  100% {
    background-color: rgb(251,211,1);
  }
}

@-o-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251,211,1);
  }
  25% {
    background-color: rgb(255,50,112);
  }
  50% {
    background-color: rgb(32,139,241);
  }
  75% {
    background-color: rgb(175,225,2);
  }
  100% {
    background-color: rgb(251,211,1);
  }
}

@-ms-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251,211,1);
  }
  25% {
    background-color: rgb(255,50,112);
  }
  50% {
    background-color: rgb(32,139,241);
  }
  75% {
    background-color: rgb(175,225,2);
  }
  100% {
    background-color: rgb(251,211,1);
  }
}

@-webkit-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251,211,1);
  }
  25% {
    background-color: rgb(255,50,112);
  }
  50% {
    background-color: rgb(32,139,241);
  }
  75% {
    background-color: rgb(175,225,2);
  }
  100% {
    background-color: rgb(251,211,1);
  }
}

@-moz-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251,211,1);
  }
  25% {
    background-color: rgb(255,50,112);
  }
  50% {
    background-color: rgb(32,139,241);
  }
  75% {
    background-color: rgb(175,225,2);
  }
  100% {
    background-color: rgb(251,211,1);
  }
}

@keyframes cssload-dot-rotate-1 {
  0% {
    transform: rotate(-105deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@-o-keyframes cssload-dot-rotate-1 {
  0% {
    -o-transform: rotate(-105deg);
  }
  100% {
    -o-transform: rotate(270deg);
  }
}

@-ms-keyframes cssload-dot-rotate-1 {
  0% {
    -ms-transform: rotate(-105deg);
  }
  100% {
    -ms-transform: rotate(270deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
  }
}

@-moz-keyframes cssload-dot-rotate-1 {
  0% {
    -moz-transform: rotate(-105deg);
  }
  100% {
    -moz-transform: rotate(270deg);
  }
}

@keyframes cssload-dot-rotate-2 {
  0% {
    transform: rotate(165deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

@-o-keyframes cssload-dot-rotate-2 {
  0% {
    -o-transform: rotate(165deg);
  }
  100% {
    -o-transform: rotate(540deg);
  }
}

@-ms-keyframes cssload-dot-rotate-2 {
  0% {
    -ms-transform: rotate(165deg);
  }
  100% {
    -ms-transform: rotate(540deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
  }
}

@-moz-keyframes cssload-dot-rotate-2 {
  0% {
    -moz-transform: rotate(165deg);
  }
  100% {
    -moz-transform: rotate(540deg);
  }
}

@keyframes cssload-dot-rotate-3 {
  0% {
    transform: rotate(435deg);
  }
  100% {
    transform: rotate(810deg);
  }
}

@-o-keyframes cssload-dot-rotate-3 {
  0% {
    -o-transform: rotate(435deg);
  }
  100% {
    -o-transform: rotate(810deg);
  }
}

@-ms-keyframes cssload-dot-rotate-3 {
  0% {
    -ms-transform: rotate(435deg);
  }
  100% {
    -ms-transform: rotate(810deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
  }
}

@-moz-keyframes cssload-dot-rotate-3 {
  0% {
    -moz-transform: rotate(435deg);
  }
  100% {
    -moz-transform: rotate(810deg);
  }
}

@keyframes cssload-dot-rotate-4 {
  0% {
    transform: rotate(705deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

@-o-keyframes cssload-dot-rotate-4 {
  0% {
    -o-transform: rotate(705deg);
  }
  100% {
    -o-transform: rotate(1080deg);
  }
}

@-ms-keyframes cssload-dot-rotate-4 {
  0% {
    -ms-transform: rotate(705deg);
  }
  100% {
    -ms-transform: rotate(1080deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
  }
}

@-moz-keyframes cssload-dot-rotate-4 {
  0% {
    -moz-transform: rotate(705deg);
  }
  100% {
    -moz-transform: rotate(1080deg);
  }
}


  /* scrollbar*/
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: #F5F5F5;
}
  

  ._container {
    width: 90%;
    max-width: 160rem;
    padding: 2rem 1.5rem;
    max-width: 100%;
    height: auto;
  }
  .alem-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }


.text-regilar {
  font-size: 1.4rem;
  color: #F5F5F5;
}
.text-bold {
  font-size: 1.4rem;
  color: #F5F5F5;
  font-weight: 700;
}
.header-text {
  font-size: 4rem;
  text-align: center;
  color: #F5F5F5;
  font-weight: 500;
  margin-top: 1rem;
}



 /* Header */
 .header-background4 {
  background: url(/img/cars/Volkswagen_ID4-bg.jpg);
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: 10;
}
.header-background6 {
  background: url(/img/cars/Volkswagen_ID6-bg.jpg);
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  z-index: 10;
}

.alem-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #F5F5F5;
}
.alem-header__contact-name {
  display: flex;
  justify-content: left;
}
.alem-header__contact-name-logo {
  font-size: 2rem;
  color: #363F5A;
}
.alem-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2%;
}
.alem-header__contact {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.alem-header__contact-item {
  padding-right: 3rem;
}
.alem-header__contact-item:last-child {
  padding-right: 0rem;
}
.contact-phone {
  font-size: 2rem;
  color: #363F5A;
}
.contact-phone:hover {
  color: #4b92dc;
  transition: 0.3s;
}


.alem-header__contact-item-name {
}
.alem-header__contact-item-logo {
    width: 100%;
    max-width: 11rem;
    height: auto;
}


.card-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-title-title {
  color: #363F5A;
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.card-text {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 130rem;
  color: #363F5A;
  font-size: 2.5rem;
}



.alem-header__menu {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 5;
}
.alem-header__menu-list {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}
.alem-header__menu-item {
  padding-right: 3rem;
  font-size: 1.4rem;
  color: #363F5A;
}
/* Style the navbar */
#navbar {
  overflow: hidden;
  
}
/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #363F5A;
  text-align: center;
  padding: 1rem;
}
#navbar a:hover {
  color: #4b92dc;
  font-weight: 700;
  transition: 0.3s;
}
/* Page content */
.content {
  padding: 1.6rem;
}
/* Класс липкости добавляется на панель навигации с помощью JS, когда он достигает позиции прокрутки. */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F5F5F5;
  flex-wrap: wrap;
}
/* Добавьте немного отступов к содержимому страницы, чтобы предотвратить внезапное быстрое
движение (поскольку панель навигации занимает новую позицию вверху страницы (позиция: фиксированная и верхняя: 0) */
.sticky + .content {
  padding-top: 6rem;
}




.auto-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.auto-name_content {
  display: flex;
}
.auto-name-logo {
  margin-right: 5rem;
}
.auto-name-logo-img {
}
.auto-name-title {
  color: #F5F5F5;
  font-size: 9.6rem;
}








.auto-menu {
  width: 100%;
  background-color: #F5F5F5;
}
.auto-menu_content {
  max-width: 162rem;
  margin-left: auto;
  margin-right: auto;
}
.auto-menu-title {
  width: 100%;
  background-color: #363F5A;
  display: flex;
  justify-content: center;
}
.tablinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}
.tablinks:last-child {
  margin-right: 0;
}
.tablinks-title {
  font-size: 3.2rem;
  margin-left: 2rem;
  color: #F5F5F5;
}
/* Style the tab */
.tab {
  display: flex;
  justify-content: space-around;
  max-width: 162rem;
}
  


/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #48557C;
  border-radius: 1rem;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #4b92dc;
  border-radius: 1rem;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0.6rem 1.2rem;
  border-top: none;
}
.car-text {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.2rem;
  color: #363F5A;
}


.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  z-index: 30;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.conf-content {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}



.video {

}







  
  /* catalog */
  
  .catalog {
    background-color: #F5F5F5;
    width: 100%;
    padding-bottom: 5%;
  }
  .catalog-header-text {
    font-size: 4rem;
    text-align: center;
    color: #363F5A;
    font-weight: 500;
    padding-top: 8rem;
    margin-bottom: 8rem;
  }
  .catalog_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .catalog-item {
    margin-right: 6rem;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .catalog-item:last-child {
    margin-right: 0rem;
  }
  .catalog-item:hover {
    transform: scale(1.2);
  }
  .catalog-item-img {
    width: auto;
    height: 100%;
    max-height: 10rem;
  }
  .catalog-item-text {
    color: #363F5A;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 3rem;
  }
  
  
  
  
  /* other */
  .other-slideshow-content {
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .other-slideshow {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    margin: 0 0;
    max-width: 130rem;
  }
  .other-slideshow-item {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: slideanim 20s infinite;
    pointer-events: none;
  }
  .other-slideshow-item:nth-child(1),
  .other-slideshow-item:nth-child(1) img {
    animation-delay: 0;
  }
  .other-slideshow-item:nth-child(2),
  .other-slideshow-item:nth-child(2) img {
    animation-delay: 5s;
  }
  .other-slideshow-item:nth-child(3),
  .other-slideshow-item:nth-child(3) img {
    animation-delay: 10s;
  }
  .other-slideshow-item:nth-child(4),
  .other-slideshow-item:nth-child(4) img {
    animation-delay: 15s;
  }
  .other-slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 20s infinite;
  }
  .other-slideshow-item-text {
    max-width: 50%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0,0,0,0.7);
    color: #F5F5F5;
    padding: 20px 30px;
  }
  .other-slideshow-item-text h5 {
    font-size: 22px;
    margin: 0 0 10px 0;
    color: #F5F5F5;
  }
  .other-slideshow-item-text p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .other-slideshow-item-text-button {
    padding: 1rem 2rem;
    max-width: 12.5rem;
    background-color: #363F5A;
    border-radius: 1rem;
  }
  @keyframes slideanim {
    12.5%{
        opacity: 1;
        pointer-events: auto;
    }
    25%{
        opacity: 1;
        pointer-events: auto;
    }    
    37.5%{
        opacity: 0;
    }
  }
  @keyframes zoom {
    50%{
        transform: scale(1.3);
    }    
  }
  @media screen and (max-width: 1100px){
    .other-slideshow-item-text{
        max-width: 75%;
    }
  }
  @media screen and (max-width: 456px){
    .other-slideshow-item-text {
        bottom: 0;
        left: 0;
        max-width: 100%;
    }
    .other-slideshow-item-text h5 {
        font-size: 18px;
    }
    .other-slideshow-item-text p {
        font-size: 13px;
    }
  }
  
  /* contacts */
  .contacts {
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 7.5rem;
    overflow: hidden;
  }
  .contact__container {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
  }
  .contact__social {
    flex-wrap: wrap;
    flex: 1 1 50%;
  }
  .contact__text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #363F5A;
  }
  .contact__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10rem;
  }
  .contact_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .contact_title-title {
    color: #F5F5F5;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-top: 10.5rem;
  }
  .contact_title-title2 {
    color: #F5F5F5;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
  }
  .contact-phone-contact {
    color: #F5F5F5;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2.5rem;
  }
  .contact-phone-contact:hover {
    color: #4b92dc;
  }
  .contact-email-contact {
    color: #F5F5F5;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }
  .contact-email-contact:hover {
    color: #4b92dc;
  }
  .alem-header__contact {
  }
  .contact-soc {
    margin-bottom: 2rem;
  }
  .alem-header__contact-item {
  }
  .alem-header__contact-item-soc {
  }
  .margin-soc {
  }
  .contact__time {
    color: #F5F5F5;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 3rem;
  }
  .contact__time-text {
    color: #F5F5F5;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 0.5rem;
  }
  .contact__time-text-1 {
    margin-top: 1.5rem;
  }
  .contact-adres {
    color: #F5F5F5;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2.5rem;
  }
  .contact-adres:hover {
    color: #4b92dc;
  }
  .contact__social {
  }
  .map {
    
  }
  
  /*==================== 
      Footer 
  ====================== */
  
  footer .main-footer{	
    padding: 2rem 0;	background: #363F5A;
  }
  footer ul{	
    padding-left: 0;	list-style: none;
  }
  .footer {
    overflow: hidden;
  }
  .footer-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .footer-item {
  }
  .footer-item:last-child {
    margin-right: 0rem;
  }
  
  .footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-item-title-copyright {
    font-size: 1rem;
    align-items: center;
    color: #F5F5F5;
    padding: 2%;
    white-space: nowrap;
  }
  
  .footer-top{
    padding-bottom: 3rem;	
    margin-bottom: 3rem;	
  }
  
  .widget{	
    padding: 2rem;
    margin-bottom: 4rem;
    margin-right: 6rem;
    }
  .widget.widget-last{	margin-bottom: 0px;}
  .widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
      box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
  .widget.subscribe p{	margin-bottom: 18px;}
  .widget li a{
    color: #F5F5F5;
    font-size: 1.6rem;
  }
  .widget li a:hover{	
    color: #4b92dc;
    font-weight: 700;
    transition: 0.3s;
  }
  .footer-item-title {
    color: #F5F5F5;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-right: 10rem;
  }
  .title-hover:hover {
    color: #4b92dc;
    transition: 0.3s;
  }
  .footer-contact {
    display: flex;
    justify-content: flex-start;
  }
  .footer-item-contact {
    margin-bottom: 2rem;
  }
  
  .footer-item-contact a:hover{	
    color: #4b92dc;
    font-weight: 700;
    transition: 0.3s;
  }
  .footer-item-contact-title {
    color: #F5F5F5;
    font-size: 2rem;
    font-weight: 400;
  }
  .boxis {
    
    margin-right: 40rem;
  }
  .typo-light h1, 
  .typo-light h2, 
  .typo-light h3, 
  .typo-light h4, 
  .typo-light h5, 
  .typo-light h6,
  .typo-light p,
  .typo-light div,
  .typo-light span,
  .typo-light small{	color: #F5F5F5;}
  
  
  
  @media (max-width: 1800px) {
    .card-text-text {
      font-size: 2.4rem;
      white-space: nowrap;
    }
  }
  
  @media (max-width: 1760px) {
    
    .card-item-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    .card-wrapper-text {
      width: 100%;
      min-height: 34rem;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }
    .card-title-title {
      text-align: center;
      font-size: 4rem;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
   
    .card-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .card-text {
      display: flex;
      justify-content: space-between;
      padding: 0 4rem;
      width: 100%;
      white-space: nowrap;
    }
    .card-text-text {
      font-size: 2.2rem;
      white-space: nowrap;
    }
  }

  
  @media (max-width: 1700px) {
     .alem-header_title1 {
       color: #F5F5F5;
     }
  
  }
  
  
  @media (max-width: 1610px) {
   
    .card-wrapper-text {
      width: 100%;
      min-height: 29rem;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }
    .card-title-title {
      text-align: center;
      font-size: 3rem;
      margin-top: 0.5rem;
      margin-bottom: 2rem;
    }
    .card-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .card-text {
      display: flex;
      justify-content: space-between;
      padding: 0 4rem;
      width: 100%;
      white-space: nowrap;
    }
    .card-text-text {
      font-size: 1.8rem;
      white-space: nowrap;
    }
  }
  
   
  @media (max-width: 1200px) {
    /*
    Стили для устройств, у которых ширина viewport меньше или равно 1200 пикселей,
    */
    ._container {
    
      width: 100%;
      max-width: 100rem;
      padding: 2rem 1.5rem;
      max-width: 100%;
      height: auto;
    }
  .text-regilar {
    font-size: 1.2rem;
    color: #F5F5F5;
  }
  .text-bold {
    font-size: 1.2rem;
    color: #F5F5F5;
    font-weight: 700;
  }
  .header-text {
    font-size: 3.5rem;
    text-align: center;
    color: #F5F5F5;
    font-weight: 500;
    margin-top: 8rem;
  }
  .alem-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2%;
  }

  .contacts {
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 7.5rem;
  }
  .contact__container {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
  }
  .contact__social {
    flex-wrap: wrap;
    flex: 1 1 50%;
  }
  .contact__text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #363F5A;
  }
  .contact__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  .map {
    min-width: 25.8rem;
  }
  .contact_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .contact_title-title {
    color: #F5F5F5;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 7.5rem;
  }
  .contact_title-title2 {
    color: #F5F5F5;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  .contact-phone-contact {
    color: #F5F5F5;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  .contact-email-contact {
    color: #F5F5F5;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-top: 0rem;
  }

  .contact__time {
    color: #F5F5F5;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .contact__time-text {
    color: #F5F5F5;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 0.5rem;
  }
  .contact__time-text-1 {
    margin-top: 1.6rem;
  }
  .contact-adres {
    color: #F5F5F5;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 2rem;
  }
  
    .footer-row {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-left: 8rem;
    }
    .widget li a{
      color: #F5F5F5;
      font-size: 1.2rem;
    }
    .footer-item-title {
      color: #F5F5F5;
      font-size: 2rem;
    }
    .footer-item-contact-title {
      color: #F5F5F5;
      font-size: 1.2rem;
      font-weight: 400;
    }
    .footer-item-title-copyright {
      font-size: 0.6rem;
      align-items: center;
      color: #F5F5F5;
      padding: 2%;
      white-space: wrap;
      margin-left: 3rem;
      margin-right: 3rem;
    }



    .auto-menu {
      width: 100%;
      background-color: #F5F5F5;
    }
    .auto-menu_content {
      max-width: 100rem;
      margin-left: auto;
      margin-right: auto;
    }
    .auto-menu-title {
      width: 100%;
      background-color: #363F5A;
      display: flex;
      justify-content: center;
    }
    .tablinks {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
    }
    .tablinks:last-child {
      margin-right: 0;
    }
    .tablinks-title {
      font-size: 2rem;
      margin-left: 1rem;
      color: #F5F5F5;
    }
    /* Style the tab */
    .tab {
      display: flex;
      justify-content: space-around;
      max-width: 100rem;
    }
      
    
    
    /* Style the buttons that are used to open the tab content */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #48557C;
      border-radius: 1rem;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #4b92dc;
      border-radius: 1rem;
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 0.6rem 1.2rem;
      border-top: none;
    }
    .car-text {
      margin-top: 10rem;
      margin-left: auto;
      margin-right: auto;
      font-size: 2rem;
      color: #363F5A;
    }
    

    .row > .column {
      padding: 0 8px;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Create four equal columns that floats next to eachother */
    .column {
      float: left;
      width: 25%;
    }
    
    /* The Modal (background) */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: black;
      z-index: 30;
    }
    
    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      width: 90%;
      max-width: 1200px;
    }
    
    /* The Close Button */
    .close {
      color: white;
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 35px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #999;
      text-decoration: none;
      cursor: pointer;
    }
    
    /* Hide the slides by default */
    .mySlides {
      display: none;
    }
    
    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* Caption text */
    .caption-container {
      text-align: center;
      background-color: black;
      padding: 2px 16px;
      color: white;
    }
    
    img.demo {
      width: 100%;
      height: auto;
      opacity: 0.6;
    }
    
    .active,
    .demo:hover {
      opacity: 1;
    }
    
    img.hover-shadow {
      width: 100%;
      height: auto;
      min-width: 20rem;
      transition: 0.3s;
    }
    
    .hover-shadow:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    
    
    .conf-content {
      padding-top: 10rem;
      max-width: 100%;
    }
  }
  
  
  
  @media (max-width: 900px) {
    .contact-phone {
      display: none;
    }


    .auto-name_content {
      display: flex;
      align-items: center;
  }
    .auto-name-title {
      font-size: 6rem;

    }

    .alem-header__contact-name-logo {
      font-size: 1.5rem;
      color: #363F5A;
    }    
    .alem-header__contact-item-soc {
      max-width: 2.3rem;
      height: auto;
      padding-right: 0rem;
    }
    .margin-soc {
      padding-right: 6rem;
    }
    .alem-header__contact-item-logo {
        width: 100%;
        max-width: 6rem;
        height: auto;
        position: relative;
        right: 5%;
    }
    .alem-header__content {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 0.2%;
      width: 95%;
    }
    .header-text {
      font-size: 2.5rem;
      text-align: center;
      color: #F5F5F5;
      font-weight: 500;
      margin-top: 4rem;
    }
  }
  
  .header__burger {
    display: none;
  }

  @media (max-width: 850px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  img.hover-shadow {
    width: 100%;
    height: auto;
    min-width: 40rem;
    transition: 0.3s;
  }
}
  
  @media (max-width: 830px) {
    .alem-header__content {
      z-index: 20;
      position: relative;
    }
    .alem-header__menu {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .alem-header__menu-list {
      display: block;
      margin: 1.5rem;
    }
    
    .menu_container {
      display: flex;
      justify-content: flex-end;
      margin-top: 3%;
      margin-bottom: 3%;
      z-index: 15;
  
  
          /*фиксируем бургер*/
      position: fixed;
      top: 1%;
      left: 1%;
      width: 100%;
    }
  
  
    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 100;
      margin-right: 4rem;
      margin-top: 6rem;
    }
  
    .header__burger span {
      position: absolute;
      background-color: #4b92dc;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transform: all 0.3s ease 0s;
    }
  
    .header__burger:before,
    .header__burger:after {
      content: "";
      background-color: #4b92dc;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transform: all 0.3s ease 0s;
    }
  
    .header__burger:before {
      top: 0;
    }
    .header__burger:after {
      bottom: 0;
    }
  
    .alem-header__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      transform: all 0.3s ease 0s;
      background-color: #F5F5F5;
      padding: 60px 10px 20px 100px;
      flex-wrap: wrap;
      
    }
    .alem-header__menu.active {
      top: 0;
    }
    .li {
      display: block;
      margin-bottom: 20px;
    }
    .header__burger.active span {
      transform: scale(0);
    }
    .header__burger.active:before {
      transform: rotate(45deg);
      top: 9px;
    }
    .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    .phone__footer {
      display: none;
    }
    .footer__title {
      display: none;
    }
    .header-top:before {
      display: none;
    }
    .body.lock {
      overflow: hidden;
    }
  }
  
  @media (max-width: 830px) {
    .catalog-item-img {
      width: auto;
      height: 100%;
      max-height: 5rem;
    }
    .catalog-item {
      margin-top: 2rem;
    }
  }  

  @media (max-width: 750px) {
      .boxis {
        margin-right: 4rem;
      }

.tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 1rem;
        transition: 0.3s;
      }
      .tab {
        display: flex;
        flex-wrap: wrap;
      }
  }  
  

  @media (max-width: 700px) {

    .auto-name {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25%;
    }
    .auto-name_content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .auto-name-logo {
      margin-right: 2rem;
    }
    .auto-name-logo-img {
      width: 100%;
      max-width: 6rem;
      height: auto;
    }
    .auto-name-title {
      font-size: 4rem;
      white-space: nowrap;
    }

      .boxis {
        margin-right: 4rem;
      }
  }
  
  @media (max-width: 500px) {
   
    .header-text-title {
      color: #F5F5F5;
      text-align: center;
      font-size: 2rem;
      margin-top: 4rem;
    }
   
    .card-item-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .card-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 30rem;
      max-height: 22.5rem;
      margin-top: 7rem;
    }
   
    .card-wrapper-text {
      width: 100%;
      min-height: 20rem;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }
    .card-title-title {
      text-align: center;
      font-size: 2rem;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
    .card-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .card-text {
      display: flex;
      justify-content: space-between;
      padding: 0 4rem;
      width: 100%;
    }
    .card-text-text {
      font-size: 1.5rem;
    }
  
    .boxis {
      margin-right: 4rem;
    }
  }

  @media (max-width: 500px) {
    .catalog-item {
      margin-right: 1rem;
    }

    /* horizontal scroll table */
    .conf-content {
      overflow: auto;
      position: relative;

      display: inline-block;
      vertical-align: top;
      max-width: 100%;
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
    .conf-container {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  }

  @media (max-width: 430px) {
    .auto-name_content {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
  }





  img.hover-shadow {
    min-width: 35rem;
  }
 }
 @media (max-width: 380px) {
  img.hover-shadow {
    min-width: 25rem;
  }
 }
 @media (max-width: 290px) {
  img.hover-shadow {
    min-width: 22rem;
  }
 }
 @media (max-width: 250px) {
  img.hover-shadow {
    min-width: 18rem;
  }
 }


  @media (max-width: 320px) {
    .auto-name-title {
      font-size: 3rem;
    }



    .conf-container {
      padding-left: 18%;
      z-index: 3;
    }
    ::-webkit-scrollbar-thumb {
      background: #363F5A;
    }
  }

  @media (max-width: 319px) {
    .contact__container {
      margin-right: 8rem;
    }
   
    .header-text-title {
      color: #F5F5F5;
      text-align: center;
      font-size: 2rem;
      margin-top: 4rem;
    }
    .cards_content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
   
    .card-wrapper-text {
      width: 100%;
      min-height: 20rem;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }
    .card-title-title {
      text-align: center;
      font-size: 2rem;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
    .card-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .card-text {
      display: flex;
      justify-content: space-between;
      padding: 0 4rem;
      width: 100%;
    }
    .card-text-text {
      font-size: 1rem;
    }
    .footer-item-title-copyright {
      font-size: 0.6rem;
      margin-left: 3rem;
      margin-right: 3rem;
      align-items: center;
      color: #F5F5F5;
      padding: 2%;
      white-space: wrap;
      width: 80%;
    }

  }